/* html, body{
    width: 50%;
    height: 90%;
} */
html {
    height: 100%;
}
  body {
    min-height: 100%;
    max-height: 100%;
    background-color: navy;
  }
div {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    margin: 0 auto;
  }
table {
    border : solid red 1px;
    width: 100%;
    border-collapse: collapse;
}

caption{
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
    background-color: white;
    border: solid red 1px;
}

td,th{
    border: solid blue 1px;
    padding: 2px;
    background-color: white;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color: #bbb;
}

