#register{
    margin:300px 48%;
    font-size: 2em;
    position: absolute;
    right: 10px;
    top: 10px;
}

body {
    background-color: darkgray;
}

.overlay{
    background-color: black;
    width: 100%;
    height:100%;
    opacity: .2;
    display: none;
    z-index: 1;
    position: absolute;
    opacity: 0;
}

.dialog{
    position: fixed;
    left: 30%;
    top: 200px;
    width: 40%;
    height: 200px;
    border: groove 5px black;
    background-color: white;
    display: none;
    z-index: 20;
    padding: 15px;
    opacity: 0;
}

.textbox{
    width: 200px;
}

#dialog label{
    display: inline-block;
    width: 18%;
    text-align: right;
}

.showOver{
    opacity: 0.2;
    z-index: 10;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0;
}

.showDlg{
    opacity:
}